{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Cleaning Quiz{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <form method="post">
      <label type="text">1) What would you do about cleaning cobwebs and dusting? </label><br>
      <input type="radio" name="option">  Don't clean any cobwebs because that's too detailed, but I do some dusting
      <input type="radio" name="option">  Don't clean any cobwebs or dust because it takes too long 
      <input type="radio" name="option">  Clean cobwebs I can reach, and dust all surfaces 
    </form>
    <form method="post">
      <label type="text">2) What is the effect of oven cleaner on kitchen countertops? </label><br>
      <input type="radio" name="option"> No effect <br>
      <input type="radio" name="option"> Enhances shine <br>
      <input type="radio" name="option"> Leaves streak marks <br> 
      <input type="radio" name="option"> Stains surface <br>
    </form>
    <form method="post">
      <label type="text">3) In what order would you clean these items in the kitchen? </label><br>
      <input type="radio" name="option"> Clean the floors; wash the dishes; wipe down the countertops <br>
      <input type="radio" name="option">  Wash the dishes; wipe down the countertops; clean the floors<br>
      <input type="radio" name="option"> Wipe down the countertops; wash the dishes; clean the floors <br>
      <input type="radio" name="option"> Wash the dishes; clean the floors; wipe down the countertops <br>
    </form>
    <input type="submit" value="Submit">
  </form>
{% endblock %}