{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Handyman Quiz{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <form method="post">
      <label type="text">1) You have a job at 9:00am and realize you won't arrive until 9:20am.  You would:  </label><br>
      <input type="radio" name="option">Notify the client and Handy as soon as possible and plan to stay overtime 
      <input type="radio" name="option">Don't clean any cobwebs or dust because it takes too long 
      <input type="radio" name="option">Notify the client and Handy after 9:00am in case you end up arriving by 9:10am 
    </form>
    <form method="post">
      <label type="text">2)  What would you do if you arrive at a job and do not have the necessary tools to complete the required task? </label><br>
      <input type="radio" name="option">Do your best to complete the job with the tools you have<br>
      <input type="radio" name="option">Tell the customer you cannot do the job and leave<br>
      <input type="radio" name="option">Explain to the customer that you do not have the required tools and ask them to contact Handy to reschedule the booking and add a note regarding what tools are required<br> 
      <input type="radio" name="option">Remain at the customers’ home for the duration of the booking but do not complete the work<br>
    </form>
    <input type="submit" value="Submit">
  </form>
{% endblock %}